/*
.outgoing-message,
.incoming-message {
  margin-top: 1em;
  padding: 1em;
  border-radius: 1em;
  border: 1px solid black;
}


.incoming-message {
  text-align: right;
  background-color: #336EFF;
}
*/

.outgoing-message {
  text-align: right;
}
